@import "tailwindcss";

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* padding-top: 80px; */
}

.bg-black {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}